* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
}

@mixin font {
    font-size: 14px;
    font-weight: 600;
}

@mixin hover-link {
    &:hover {
        color: $text-hover-color;
    }
}
