footer {

    font-size: 16px;
    font-weight: 600;


    figure {

        img {
            width: 50px;
            height: 50px;
            margin-bottom: 15px;
        }

        figcaption {
            margin-left: 70px;
            max-width: 300px;
            a {
                color: $text-hover-color;
                &:hover {
                    color: #263972;
                }
            }
        }
    }

    .navbar {
        padding-top: 0;

        .nav-item a {
            line-height: 2.4;
            padding-top: 0;
            padding-bottom: 0;
        }

        .nav-item:first-child {
            margin-bottom: 15px;
        }

        a {
            font-size: 14px;
            font-weight: 300;
            color: $text-color;
            @include hover-link;
        }
    }
}
