#sezione_uno {
    margin-top: 100px;
    margin-bottom: 100px;
    color: $text-color;
    font-family: 'HarmoniaSansProCyr-SemiBd';
}

.jumbotron {
    padding: 0 0;
    background-color: #fff;

    h1 {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    label {
        height: 35px;
        width: 38px;
        line-height: 35px;
        font-size: .8125rem;
        color:#bdb5af;
        text-align: center;
        margin: auto;
    }

    .lead {
        font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
        margin-bottom: 40px;
        font-size: 22px;
    }

    .btn {
        @include font;
        font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
        background: $text-hover-color;
        border-radius: 7px;
        border: none;

        & i {
            padding-right: 5px;
        }

        &:hover {
            background: #233569;;
        }
    }

    p:last-child {
        font-size: 14px;

        a {
            color: $text-color;
            &:hover {
                color: $text-hover-color;
                text-decoration: none;
            }
        }
    }
}
